mixin head(data)
	-
		var title = data.title;

	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(content="IE=edge" http-equiv="X-UA-Compatible")
	meta(http-equiv="msthemecompatible" content="no")
	meta(name='format-detection', content='telephone=no')
	meta(name="format-detection" content="address=no")
	meta(name="HandheldFriendly" content="True")
	meta(http-equiv="cleartype" content="on")
	meta(name="apple-mobile-web-app-capable" content="yes")
	meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
	meta(name="application-name" content="Title")
	meta( name="msapplication-tooltip" content="Description")

	meta(name='theme-color', content='#07090d')
	//-link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic', rel='stylesheet')

	title= title
