.test
    display: flex
    font-size: 15px
    background: #fff url('../images/webpack.png') 0 0 no-repeat
    background-size: cover
    height: 200px
    width: 200px
    push-auto()

.title
    color: #909
