include ../modules/noscript/noscript
include ../modules/head/head

doctype html
html(lang='ru')

    head
        +head({'title': "Title"})

    body
        +noscript

        main.content
            block content

